<div class="flex justify-center items-center w-screen h-screen lg:px-4">
<div class="w-1/2 lg:block hidden">
  <%= image_tag 'login.png', class: 'px-10' %>
</div>

<div class="lg:w-screen w-1/2 flex justify-center">
<div class="flex items-center flex-col lg:p-8 p-2 rounded-xl bg-gray-200">

<h2 class='text-center text-2xl text-blue-400 font-semibold'>Forgot your password?</h2>

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field mb-6">
    <%= f.label :email, class: 'text-xl' %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'border border-gray-300 outline-none text-xl pl-2 lg:w-92 md:w-80 w-72' %>
  </div>

  <div class="actions">
    <%= f.submit "Send Link", class: 'bg-green-600 py-1 px-4 rounded-md text-white cursor-pointer' %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>
</div>
</div>
