<h1>Edit Property</h1>

<%= form_with(model: @property, url: property_path(@property), method: :patch) do |form| %>
  <div class="form-group">
    <%= form.label :property_type %>
    <%= form.select :property_type, ['Residential'], class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :city %>
    <%= form.text_field :city, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :district %>
    <%= form.text_field :district, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :bedrooms %>
    <%= form.number_field :bedrooms, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :rent_per_month %>
    <%= form.number_field :rent_per_month, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :mrt_line %>
    <%= form.text_field :mrt_line, class: "form-control" %>
  </div>

  <!-- File input field for uploading images -->
  <div class="form-group">
    <%= form.label :image, "Upload Images" %>
    <%= form.file_field :image, class: "form-control" %>
  </div>

  <%= form.submit "Update Property", class: "btn btn-primary" %>
<% end %>

