<div class="flex flex-col">
  <div class="lg:px-6 px-2 flex justify-between items-center w-full text-white lg:py-4 py-2 mb-4 border-b bg-blue-900">
    <%=link_to properties_path do%>
      <h1 class="lg:text-4xl text-2xl font-semibold pb-2">HOUSE MARKETPLACE</h1>
    <%end%>
    <div class="flex items-center gap-2">
      <%if current_user.present?%>
        <%= link_to "View favorites", favorites_path, class: 'bg-green-600 lg:px-4 px-3 lg:py-2 py-1 rounded-lg cursor-pointer' %>
        <%= button_to "Sign out", destroy_user_session_path, method: :delete, class: 'bg-red-600 px-3 lg:py-2 py-1 rounded-lg cursor-pointer' %>
      <%else%>
        <%= link_to 'Sign in', new_user_session_path, class: 'bg-red-600 px-3 lg:py-2 py-1 rounded-lg cursor-pointer' %>
      <%end%>

   </div>
  </div>
  <%= will_paginate @properties %>

  <div class="lg:px-10 md:px-8 px-4">
  <%= form_with(url: properties_path, method: "get", html: {class:'mb-4 rounded-lg bg-gray-300 lg:py-4 py-1 lg:px-4 px-1'}) do %>
    <div class="flex items-center justify-center gap-4 flex-wrap ">
      <div class="lg:w-72 w-full flex justify-center gap-2">
        <label for="property_type">Type:</label>
        <%= select_tag :property_type, options_for_select(['Residential'], params[:property_type]) %>
      </div>
      <div class="lg:w-72 w-full flex justify-center gap-2">
        <label for="city">City:</label>
        <%= select_tag :city, options_for_select(Property.distinct.pluck(:city), params[:city]) %>
      </div>
      <div class="lg:w-72 w-full flex justify-center gap-2">
        <label for="district">District:</label>
        <%= select_tag :district, options_for_select(Property.distinct.pluck(:district), params[:district]) %>
      </div>
      <div class="lg:w-72 w-full flex justify-center gap-2">
        <label for="net_size">Net Size:</label>
        <%= select_tag :net_size, options_for_select(Property.distinct.pluck(:net_size), params[:net_size]) %>
      </div>
      <div class="lg:w-72 w-full flex justify-center gap-2">
        <label for="rent_per_month">Rent Per Month:</label>
        <%= select_tag :rent_per_month, options_for_select(Property.distinct.pluck(:rent_per_month), params[:rent_per_month]) %>
      </div>
    <%= submit_tag "Search", class: "!bg-green-600 !p-2 rounded-lg text-white cursor-pointer" %>
    </div>
  <% end %>



  <div class="flex items-center gap-4 justify-center w-full flex-wrap bg-gray-100 p-4">
    <%@properties.each do |property|%>
        <div class="flex flex-col justify-center rounded-lg shadow  bg-white p-2">
          <%= link_to property_path property.id do%>
            <%if property.image.attached?%>
              <%= image_tag property.image, class:'object-contain w-80 h-80' %>
            <%else%>
              <%= image_tag 'login', class: 'object-contain w-80 h-80' %>
            <%end%>
          <%end%>
          <h1 class="text-lg font-bold text-red-400 border-t pt-2">$<%=property.rent_per_month || 0%> / Month</h1>
          <h2 class="text-xl capitalize"><%= property.property_type %></h2>
          <span class="text-sm text-gray-500"><%=property.mrt_line%> <%= property.city %> <%= property.district%></span>
          <div class="w-full flex items-center justify-between mt-4">
            <%if current_user&.user_type == 'admin'%>
              <%=button_to 'Edit', edit_property_path(property.id), method: :get, class: 'py-1 px-4 rounded-lg bg-blue-600 text-white cursor-pointer'%>
            <%end%>
            <% if current_user&.favorite_properties&.include?(property) %>
          <%= button_to "Remove favorites", remove_favorite_path(property_id: property.id), method: :delete, remote: true, class: "py-1 px-4 rounded-lg bg-red-600 text-white cursor-pointer", onclick: "return confirm('Are you sure to remove from favorites?')"  %>
        <% else %>
          <%= form_with(url: add_favorite_path(property_id: property.id), method: "post", local: true) do |form| %>
            <button type="submit" class="btn btn-link text-danger">
              &#x1F497;  <!-- Heart emoji -->
            </button>
          <% end %>
        <% end %>
            <%if current_user&.user_type == 'admin'%>
              <%=button_to 'Delete', property_path(property.id), method: :delete, class: 'py-1 px-4 rounded-lg bg-red-600 cursor-pointer text-white' , onclick: "return confirm('Are you sure to delete property?')"%>
            <%end%>
          </div>
        </div>
    <%end%>
  </div>
  </div>
</div>